.nav {
    display: flex;
    justify-content: space-between;
    padding:10px 20px;
    color: white;
    background-color: rgb(51,51,51);
    font-family: Roboto, sans-serif;
    font-weight: 100;
}
.nav a{
    color:white;
    text-decoration: none;
}
.nav-links{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}
.nav-links li {
    padding-left:30px;
}
.btn {
    background-color: rgb(23,162,184);
    border: 1px solid black;
    box-shadow: 5px 5px black;
}
h1 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}