<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="container">

        <div class="row row-question">
            <h1>Welcome to the Great Number Game</h1>

            <p>I am thinking of a number between 1 and 100.</p>
            <p>Take a guess!</p>
        </div>

        {% if session['result'] == 0%}
        <div class="row row-correct">
            <h2>{{session['secret_number']}}</h2>
            <h3>was the number</h3>
            <a href="/newgame" class="dojo-btn">Play Again</a>
        </div>
        {% elif session['result'] == +1 %}
        <div class="row row-incorrect">
            <h2>{{session['guess']}}</h2>
            </h3>is too high</h3>
        </div>
        {% elif session['result'] == +-1 %}
        <div class="row row-incorrect">
            <h2>{{session['guess']}}</h2>
            <h3>is too low</h3>
        </div>
        {% endif %}


        {% if 'result' not in session or session['result'] != 0 %}
        <div class="row row-guess">
            <form action="/guess" method="post">
                <input type="text" placeholder="Enter a number" name="guess"><br>
                <input type="submit" value="Guess" class="dojo-btn">
            </form>
        </div>
        {% endif %}


    </div>

</body>

</html>