<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo survey</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container mt-3 bg-light p-3 border rounded">
        <div class="row">
            <div class="col">
                <h1>Submitted Info</h1>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">Name</th>
                            <td>{{ this_survey.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Location</th>
                            <td>{{ this_survey.location }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Favorite Language</th>
                            <td>{{ this_survey.language }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Comment</th>
                            <td>{{ session.comment }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col">
                    <a class="btn btn-primary" href="/">Go Back</a>
                </div>

            </div>

        </div>

    </div>
</body>

</html>