* {
    margin:0;
    padding:0;
    /* border: 1px dotted red; */
}

* {
    font-family: 'Roboto', sans-serif;
}
.container {
    padding-top: 50px;
    width: 800px;
    margin:0 auto;
}
.banner {
    height: 105px;
    margin-bottom:65px;
    background-color:  rgb(23, 162, 184);
}
.banner img  {
    border-radius: 50%;
    padding: 2px;
    background-color: white;
    margin-top:50px;
    margin-left:33px;
    height: 100px;
}
.usercard{
    width:100%;
    padding-bottom:10px;
}
.usercard, 
.banner img {
    border: 3px solid silver;
}
.content img {
    height:1em;
}
.content > * {
    margin: 10px 0;
    margin-left:33px;
}
